h1 {font-family: helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
  text-shadow: 3px 3px 8px #000;
}

h2 {font-family: helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  color: white;
  padding-left: 10px;
}

h3 {font-family: helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: grey;
  margin-left: 10px;
}

p {font-family: helvetica, sans-serif;
  margin-left: 10px;
}

.header {
  height: auto;
  width: 100%;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
}

#brush h2 {background-color: mediumspringgreen;

}

#frame h2 {background-color: lightcoral;
  margin-top: 160px;
}

#paint h2 {background-color: skyblue;
  margin-top: 160px;
}


.prodimage {float: left;
  width: 200px;
  height: 200px;
  margin-left: 10px;
  margin-right: 20px;
}

.price {font-weight: bold;
  color: teal;
}
